html,
body {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #ffb900;
}

body {
    font-family: "Poppins", sans-serif;
    font-family: "Sen", sans-serif;
}

/* ===========================Common=========================== */

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* ===========================Header=========================== */

.learning-page {
    height: 100vh;
    background: #fffcf4;
}

.header {
    width: 1170px;
    max-width: calc(100% - 24px);
    padding-top: 2.25rem;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
}

.header__logo--01 {
    margin-right: auto;
}

.navigation a {
    position: relative;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 2.62rem;
    line-height: 1.75; /* 175% */
}

.navigation a:hover {
    border-bottom: 1px solid #171100;
}

.header__sign--up {
    color: #fff;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 4.38rem;
    padding: 0.69rem 2.56rem;
    line-height: 1.75; /* 175% */
    border-radius: 1.53125rem;
    background: #171100;
}

/* ===========================Hero=========================== */

.hero {
    display: flex;
    align-items: center;
    width: 1170px;
    max-width: calc(100% - 24px);
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.hero__img {
    width: 29.375rem;
    height: 35rem;
    object-fit: cover;
    border-radius: 1.25rem;
    margin-right: auto;
}

.hero__content {
    margin-left: 14.38rem;
}

.hero__title {
    width: 29.375rem;
    color: #171100;
    font-family: Sen;
    font-size: 3.625rem;
    font-weight: 700;
    line-height: 4.25rem; /* 117.241% */
    letter-spacing: -0.0725rem;
}

.hero__desc {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 1.38rem;
    line-height: 1.875rem; /* 166.667% */
}

.hero__content-02 {
    display: flex;
    align-items: center;
    margin-top: 2.38rem;
}

.hero__btn {
    color: #fff;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1.06rem 2.12rem;
    border-radius: 2rem;
    background: var(--primary-color);
    line-height: 1.875rem; /* 166.667% */
}

.hero__play--videos {
    width: 12px;
    height: 12px;
    padding: 16px;
    margin-left: 1.75rem;
    margin-right: 0.88rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
}

.hero__play--videos--desc {
    color: #171100;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.875rem; /* 166.667% */
}

.stats__desc--02 {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 3rem;
    line-height: 1.875rem; /* 166.667% */
}

.stats__sty {
    display: flex;
    margin-top: 0.5rem;
}

.stats__sty__02 strong {
    color: #171100;
    font-family: Sen;
    font-size: 2.75rem;
    font-weight: 700;
    margin-right: 1rem;
    line-height: 3.375rem; /* 122.727% */
}

.stats__sty__02 {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 400;
    margin-right: 1.75rem;
    line-height: 1.875rem; /* 166.667% */
}

/* ===========================Popular=========================== */

.popular {
    padding-top: 12.5rem;
}

.popular--all {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12.5rem;
}

.popular__title--01 {
    color: #171100;
    font-family: Sen;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 3rem; /* 126.316% */
    letter-spacing: -0.0475rem;
}

.popular__icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.popular__icon--left {
    color: var(--primary-color);
    padding: 0.8rem 1rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    background: transparent;
}

.popular__icon--right {
    color: #fff;
    padding: 0.8rem 1rem;
    margin-left: 2.56rem;
    border-radius: 50%;
    background: var(--primary-color);
}

.popular__desc--01 {
    width: 28.625rem;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem; /* 166.667% */
}

.list {
    display: flex;
    gap: 1.88rem;
    flex-grow: 1;
    margin-top: 3.44rem;
}

.thumb__list {
    width: 100%;
    height: 17.375rem;
    object-fit: cover;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
}

.popular__list {
    display: flex;
    align-items: center;
}

.popular__body {
    padding: 1rem 1.45rem 2rem;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
}

.popular__title {
    margin-right: auto;
}

.popular__title a {
    color: #171100;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.875rem; /* 166.667% */
}

.desc--star {
    color: #fea31b;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem; /* 175% */
}

.popular__desc--title-01 {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 0.38rem;
    line-height: 1.625rem; /* 185.714% */
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info--money {
    color: #171100;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.875rem; /* 166.667% */
}

.info--btn-01 {
    color: #fff;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 1.5625rem;
    background: var(--primary-color);
    margin-top: 0.75rem;
    line-height: 1.625rem; /* 185.714% */
}

.info--btn-02 {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 1.5625rem;
    margin-top: 0.75rem;

    background: #171100;
    line-height: 1.625rem; /* 185.714% */
}

/* ===========================Quote=========================== */
.quote {
    background: #2e2100;
    padding: 6rem 8.4rem;
}

.quote__all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.founder {
    width: 9.9375rem;
}

.founder__avatar {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.founder__myname {
    color: #f7f7f7;
    font-family: Sen;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.12rem;
    line-height: 2.125rem; /* 141.667% */
}

.founder__desc {
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 0.25rem;
    line-height: 1.625rem; /* 185.714% */
}

.cham {
    width: 1.875rem;
    height: 0.375rem;
    margin-top: 1.75rem;
}

.quote-of-founder {
    position: relative;
    width: 48.125rem;
    height: 11.75rem;
    flex-shrink: 0;
}

.quote-of-founder__img--top {
    position: absolute;
    top: -25px;
    left: 00;
}

.quote-of-founder__text {
    width: 46.25rem;
    color: #fff;
    font-family: Poppins;
    font-size: 1.625rem;
    font-style: italic;
    font-weight: 400;
    padding-left: 2rem;
    line-height: 2.5rem; /* 153.846% */
}

/* ===========================Learner=========================== */

.learner {
    width: 1170px;
    max-width: calc(100% - 24px);
    padding-top: 2.25rem;
    padding-bottom: 12rem;
    margin-left: auto;
    margin-right: auto;
}

.learner__top--all {
    display: flex;
    padding: 12.5rem 0;
}

.learner__top--img-all {
    display: flex;
    flex-grow: 1;
    gap: 1.88rem;
}

.learner__top--img--01,
.learner__top--img--02 {
    width: 100%;
    min-width: 16.9rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 1rem;
}

.learner__top--img--01 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.learner__top--img--02 {
    margin-block: -2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.learner__top--right {
    margin-left: 8.12rem;
}

.learner__top--right--tile {
    width: 29.375rem;
    color: #171100;
    font-family: Sen;
    font-size: 2.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem; /* 126.316% */
    letter-spacing: -0.0475rem;
}

.learner__top--right--desc-1 {
    width: 28.625rem;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 1.75rem; /* 175% */
}

.learner__top--right--desc-2 {
    width: 28.625rem;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.75rem; /* 175% */
}

.learner__top--right--btn {
    color: #fff;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.69rem 2.31rem;
    border-radius: 1.625rem;
    background-color: var(--primary-color);
    line-height: 1.75; /* 175% */
}

.learner__bottom {
    display: flex;
    align-items: center;
}

.learner__bottom--img-all {
    margin-left: 8.12rem;
}

.learner__bottom--img--01 {
    width: 100%;
    min-width: 29.375rem;
    height: 27.5rem;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1.25rem;
}

.learner__bottom-left {
    width: 35.6rem;
}

.learner__bottom--left--tile {
    width: 35.625rem;
    color: #171100;
    font-family: Sen;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.0475rem;
}

.learner__bottom--left--desc-1 {
    width: 35.625rem;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.75; /* 175% */
}

.learner__bottom--left--btn {
    color: #fff;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 2rem;
    border-radius: 1.625rem;
    background-color: var(--primary-color);
    line-height: 1.75; /* 175% */
}

/* ===========================our blog=========================== */

.our-blog__all {
    background: #fffcf4;
}

.our-blog {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.our-blog__header--title {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.0475rem;
}

.our-blog__header--desc {
    width: 28rem;
    color: #696262;
    text-align: center;
    margin: auto;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 1.75; /* 175% */
}

.our-blog-content-all {
    display: flex;
    flex-grow: 1;
    gap: 1.88rem;
    margin-top: 3.44rem;
}

.our-blog-content__image {
    width: 100%;
    min-width: 23rem;
    height: 16rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
}

.our-blog-content__row {
    display: flex;
    align-items: center;
}

.blog-content__row-title {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: 0.25rem;
    line-height: 1.85; /* 185.714% */
}

.our-blog-content__line {
    width: 10rem;
    height: 0.0625rem;
    border-radius: 0.03125rem;
    margin-top: 0.75rem;
    background: #e2dfda;
}

.our-blog-content__title {
    width: 20.625rem;
    color: #171100;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 1.75; /* 175% */
}

.our-blog-content__read-more {
    color: #fff;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.75rem 1.31rem;
    background-color: var(--primary-color);
    border-radius: 1.5625rem;
    line-height: 1.85; /* 185.714% */
}

.our-blog-content__read-more-02 {
    color: #fff;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.75rem 1.31rem;
    background-color: #171100;
    border-radius: 1.5625rem;
    line-height: 1.85; /* 185.714% */
}

.our-blog-content__text {
    padding: 1.25rem 1.25rem 1.8rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
}

.bacham {
    width: 1.875rem;
    margin: auto;
    padding-top: 2.38rem;
}

/* ===========================our blog=========================== */

.footer {
    background: #2e2100;
    padding: 6rem 8.44rem;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    max-width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
}

.footer__content--desc {
    width: 16.6875rem;
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 1.12rem;
    line-height: 1.85; /* 185.714% */
}

.footer__content--social {
    margin-top: 1.12rem;
}

.footer__content--social-icon {
    padding-right: 1rem;
}

.footer__content--social-icon:last-child {
    padding-right: 0;
}

.footer__content--social-icon:hover {
    opacity: 0.8;
}

.footer__content--company-tile {
    color: #fff;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.footer__content--company-line {
    width: 8.125rem;
    height: 0.0625rem;
    margin-top: 0.88rem;
    background: #59554b;
}

.footer__content--company-list,
.footer__content--company-list-1 {
    margin-top: 0.75rem;
    width: 14.4375rem;
}

.footer__content--company-list a {
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 400;
    padding-top: 0.75rem;
    line-height: 1.85; /* 185.714% */
}

.footer__content--company-list-1 a {
    color: #fff;
    font-family: Poppins;
    font-weight: 600;
    margin-top: 0.75rem;
    line-height: 1.85; /* 185.714% */
}

.footer__content--company-list-1 strong {
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 0.75rem;
    line-height: 1.625rem;
}

.footer__content--line {
    justify-content: space-between;
    width: 1170px;
    max-width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.38rem;
    width: 73.125rem;
    height: 0.0625rem;
    background: #59554b;
}

.footer__content--end {
    color: #807d74;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 1.75rem;
    line-height: 1.85; /* 185.714% */
}
